.table table-dark .mjs {
    display: flex;
    position: relative;
    top: 15em;
    background-color: red;
    height: 19em;
    width: 12em;
}
.return {
    display: flex;
    position: relative;
    top: 17em;
    justify-content: center;
    align-items: center;
}