@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(232, 231, 231);
}
.cards {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 13em;
    p {
        color: rgb(1, 38, 249);
        font-size: x-large;
    }
}
