@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  // background: linear-gradient(rgb(9, 233, 166), rgba(7, 219, 156, 0.8));
  background: #59dfc7;
}
.cards {
    position: relative;
  font-size: 2em;
  margin: 0;
  padding: 0;
  top: 6em;

  p {
    color: rgb(0, 0, 0);
    font-size: x-large;
  }

  h4 {
    font-weight: bold;
  }
}
