.mainAbout {
  height: 75vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;

  .vinculo {
    font-size: 5rem;
  }
}

.containerAbout {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;

  .tlf {
    color: rgba(213, 31, 116, 1);
    font-size: 2rem;
    font-weight: bold;
  }


.mainAbout,
.aboutTitle {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.spanTitle {
  display: inline-block;
  position: relative;
}
.mainAbout,
.aboutTitle,
.spanTitle {
  color: rgb(226, 24, 122);
  .spanTitle:after,
  .spanTitle:before {
    content: "";
    position: absolute;
    width: 410px;
    height: 2px;
    background-color: currentColor;
    top: 0.6em;
  }
  .spanTitle:before {
    right: 480px;
  }
  .spanTitle:after {
    right: -440px;
  }
}

.mainAbout p {
  font-size: 2rem;
}
#parrAbout {
  color: rgb(0, 0, 0);
}

.imgAbout {
  width: 100%;
}

.cardAbout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.cardAbout h3 {
  margin-bottom: 2rem;
}

.cardAbout img {
  height: 400px;
}

.cardAbout > div {
  padding: 2rem;
}

.cardAbout:nth-child(even) img {
  //Para cambiar de posicion la image y el parrafo dentro del div
  order: 2;
}

.sendButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(104, 104, 104);
  color: #000000;
  border-radius: 0.4em;
  height: 3.3em;
  width: 7em;
  z-index: 1;
  margin-bottom: 2em;
  margin-top: 3em;

  &:hover {
    background: linear-gradient(
      343deg,
      rgba(96, 101, 105, 1) 0%,
      rgba(213, 31, 116, 1) 75%,
      rgba(169, 57, 112, 1) 83%,
      rgba(108, 94, 106, 1) 100%,
      rgba(223, 25, 117, 1) 100%,
      rgba(96, 101, 105, 1) 100%
    );
    transition: all 900ms ease;
    color: #fff;
  }
}



/*MOBILE*/
@media (max-width: 600px) {
  .cardAbout {
    display: block;
  }
}

@media (min-width: 1024px) {
  .cardAbout {
    display: block;
  }

  .mainAbout {
    top: 3em;
    height: 100vh;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;

    .vinculo {
      font-size: 1rem;
    }
  }

  .containerAbout {
    max-width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0rem;

    .tlf {
      color: rgba(213, 31, 116, 1);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .mainAbout,
  .aboutTitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .spanTitle {
    display: inline-block;
    position: relative;
  }
  .mainAbout,
  .aboutTitle,
  .spanTitle {
    color: rgb(226, 24, 122);
    .spanTitle:after,
    .spanTitle:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: currentColor;
      top: 0.6em;
    }
    .spanTitle:before {
      right: -225px;
    }
    .spanTitle:after {
      right: 474px;
    }
  }

  .mainAbout p {
    font-size: 1rem;
  }
  #parrAbout {
    color: rgb(0, 0, 0);
  }

  .spanTitle {
    display: inline-block;
    position: relative;
  }
}

@media (max-width: 414px) {
  .cardAbout {
    display: block;
  }

  .mainAbout {
    top: 3em;
    height: 100vh;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;

    .vinculo {
      font-size: 1rem;
    }
  }

  .containerAbout {
    max-width: 414px;
    margin: auto;
    overflow: auto;
    padding: 0rem;

    .tlf {
      color: rgba(213, 31, 116, 1);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .mainAbout,
  .aboutTitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .spanTitle {
    display: inline-block;
    position: relative;
  }
  .mainAbout,
  .aboutTitle,
  .spanTitle {
    color: rgb(226, 24, 122);
    .spanTitle:after,
    .spanTitle:before {
      content: "";
      position: absolute;
      width: 90px;
      height: 2px;
      background-color: currentColor;
      top: 0.6em;
    }
    .spanTitle:before {
      right: 130px;
    }
    .spanTitle:after {
      right: -107px;
    }
  }

  .mainAbout p {
    font-size: 1rem;
  }
  #parrAbout {
    color: rgb(0, 0, 0);
  }
}
}