#homeContainer {
  width: 100%;
  height: 100%;
  top: -8.3em;
  overflow: hidden;

  #h1Home {
    color: rgb(226, 24, 122);
    font-size: 3rem;
    font-weight: bold;
  }
  #parrHome {
    color: #1b1316;
    font-size: 1.3rem;
    font-weight: bold;
    top: 1em;
    position: relative;
  }
  #buttonHome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    top: 1.6em;
    height: 5em;
    width: 17em;
    transition: 0.2s;
    border-radius: 0.4em;
    background-color: rgba(235, 234, 234, 255);
    margin-bottom: 6em;
    transition: all 900ms ease;

    &:hover {
      background: linear-gradient(
        343deg,
        rgba(96, 101, 105, 1) 0%,
        rgba(213, 31, 116, 1) 75%,
        rgba(169, 57, 112, 1) 83%,
        rgba(108, 94, 106, 1) 100%,
        rgba(223, 25, 117, 1) 100%,
        rgba(96, 101, 105, 1) 100%
      );
      transition: all 900ms ease;
      color: #fff;
    }
  }

  #buttonOption {
    display: flex;
    position: relative;
    padding: 2.5rem 5rem;
    margin-bottom: 1em;
    width: 6em;
    height: 4em;
    transition: 0.2s;
    cursor: pointer;
    background-color: #793b5d;
    overflow: hidden;
  }

  #buttonOption::before {
    content: "CLICK HERE!";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem #333;
    transition: 0.2s ease;
  }
  #buttonOption::after {
    content: "DOG TRAINING";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.6rem;
    color: white;
    color: rgb(226, 24, 122);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem #333;
    transition: 0.2s ease;
    opacity: 0;
  }

  #buttonOption:hover::before {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
  #buttonOption:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  #home-parr {
    color: rgb(226, 24, 122);
    font-size: 1.2rem;
    position: relative;
    font-weight: bold;
  }

  #buttonOption {
    display: flex;
    position: relative;
    padding: 2.5rem 5rem;
    margin-bottom: 1em;
    width: 6em;
    height: 4em;
    border: solid #31326f 0.1em;
    transition: 0.2s;
    cursor: pointer;
    background-color: #707779;
    overflow: hidden;
  }

  #buttonOption::before {
    content: "CLICK HERE!";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem #333;
    transition: 0.2s ease;
  }
  #buttonOption::after {
    content: "DOG TRAINING";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.6rem;
    color: white;
    color: rgb(226, 24, 122);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem #333;
    transition: 0.2s ease;
    opacity: 0;
  }

  #buttonOption:hover::before {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
  #buttonOption:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
