.contact {
  display: flex;
  position: relative;
  top: 13em;
  width: 100%;
  height: 100%;
  margin-bottom: 20.5em;

  .h1Contact {
    color: #f7f1f4;
    font-size: 3rem;
    font-weight: bold;
  }
  .errorsText {
    font-size: 0.9em;
    margin-left: 11em;
    color: red;
  }

  .textarea {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .contactInfo {
    justify-content: center;
    position: relative;

    .mail,
    .tlf {
      color: #1b1316;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .buttonContact {
    border: rgb(104, 104, 104);
    cursor: pointer;
    color: #3b3b3d;
    border-radius: 0.4em;
    background-color: rgba(235, 234, 234, 255);
    height: 3em;
    width: 8em;
    margin-bottom: 2em;
    transition: all 900ms ease;

    &:hover {
      background: rgb(96, 101, 105);
      background: linear-gradient(
        343deg,
        rgba(96, 101, 105, 1) 0%,
        rgba(213, 31, 116, 1) 75%,
        rgba(169, 57, 112, 1) 83%,
        rgba(108, 94, 106, 1) 100%,
        rgba(223, 25, 117, 1) 100%,
        rgba(96, 101, 105, 1) 100%
      );
      transition: all 900ms ease;
      color: #fff;
    }
  }

  /* MOBILE */
  @media (max-width: 375px) {
    top: 9em;
  }
}

.form {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3.3em;
  max-width: 25em;
  top: -2.7em;
}
.form input {
  width: 100%;
  height: 150%;
  background: none;
  color: #fd478f;
  padding: 1.3em;
  border: none;
  outline: 0em;
}
.form .lbl-nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.form .lbl-nombre:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.07em;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.text-nomb {
  position: absolute;
  bottom: 0.12em;
  left: 0;
  transition: all 0.3s ease;
  color: #fd478f;
}
.form input:focus + .lbl-nombre .text-nomb,
.form input:valid + .lbl-nombre .text-nomb {
  transform: translateY(-150%);
  font-size: 1.1em;
  height: 1.1em;
}
.form input:focus + .lbl-nombre:after,
.form input:valid + .lbl-nombre:after {
  transform: translateX(0%);
}
