// .commonWall {

//     position: relative;
//     display: flex;
//     // top: 25em;

    .common {
        position: relative;
        display: flex;
        top: -2em;
        justify-content: center;
    }

    .btn:focus{
        box-shadow:none !important;
    }
    .border:focus{
        box-shadow:none !important;
    }
    .mjs {
        display: flex;
        position: relative;
        top: 8em;
    }
// }