.vistaLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 2em;

    .loginCard {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
        height: 33em;

            .errorsText {
                font-size: 0.7em;
                color: red;
            }

            .h2 {
                margin-top: 1em;
            }
    }

    .sendButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1.9px solid rgb(104, 104, 104);
        cursor: pointer;
        color: #3b3b3d;
        border-radius: 0.4em;
        background-color: rgba(235,234,234,255);
        height: 3em;
        width: 8em;
        z-index: 1;
        margin-bottom: 2em;
        margin-top: 3em;

        &hover {
            background-color: rgba(136, 130, 130, 0.103);
            transition: 0.2s;
        }
    }

    .form22 {
        display: flex;
        position: relative;
        overflow: hidden;
        bottom: 1.1em;
        width: 100%;
        height: 3.3em;
        max-width: 25em;
        top: -2em;
    }
    .form22 .input22 {
        width: 100%;
        height: 150%;
        background: none;
        color: black;
        padding: 20px;
        border: none;
        outline: 0px;
    }
    .form22 .lbl-nombre22 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 0.0625em solid #c7c7c7;
    }
    .form22 .lbl-nombre22:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.0625em;
        width: 100%;
        height: 100%;
        border-bottom: 0.18em solid #474a4a;
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }
    .text-nomb22 {
        position: absolute;
        bottom: 0.22em;
        left: 0;
        transition: all 0.3s ease;
        color: rgb(121, 117, 117);
    }
    .form22 .input22:focus + .lbl-nombre22 .text-nomb22, .form22 .input22:valid + .lbl-nombre22 .text-nomb22 {
        transform: translateY(-150%);
        font-size: 0.875em;
        color: black;
    }
    .form22 .input22:focus + .lbl-nombre22:after, .form22 .input22:valid + .lbl-nombre22:after {
        transform: translateX(0%);
    }

    .form23 {
        display: flex;
        position: relative;
        overflow: hidden;
        bottom: 1.1em;
        width: 100%;
        height: 3.3em;
        max-width: 25em;
        top: -2em;
    }
    .form23 .input23 {
        width: 100%;
        height: 150%;
        background: none;
        color: black;
        padding: 20px;
        border: none;
        outline: 0px;
    }
    .form23 .lbl-nombre23 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 0.0625em solid #c7c7c7;
    }
    .form23 .lbl-nombre23:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.0625em;
        width: 100%;
        height: 100%;
        border-bottom: 0.18em solid #474a4a;
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }
    .text-nomb23 {
        position: absolute;
        bottom: 0.22em;
        left: 0;
        transition: all 0.3s ease;
        color: rgb(121, 117, 117);
    }
    .form23 .input23:focus + .lbl-nombre23 .text-nomb23, .form23 .input23:valid + .lbl-nombre23 .text-nomb23 {
        transform: translateY(-150%);
        font-size: 0.875em;
        color: black;
    }
    .form23 .input23:focus + .lbl-nombre23:after, .form23 .input23:valid + .lbl-nombre23:after {
        transform: translateX(0%);
    }
}