.carta {
  background: linear-gradient(rgba(168, 161, 163, 0.255), rgba(179, 129, 154, 0.233));
  border-radius: 0.3em;

  .parPost {
    color: rgb(9, 8, 8);
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}
