.carta {
  background: linear-gradient(rgba(83, 80, 81, 0.132), rgba(95, 90, 92, 0.139));
  border-radius: 0.3em;

  .parPost {
    font-size: 2rem;
    color: #1b1316;
    font-weight: bold;
  }

  .title-post {
    color: rgb(226, 24, 122);
    font-size: 2.1rem;
    font-weight: bold;
  }
  .user {
    color: rgb(226, 24, 122);
  }
}
