@import 'antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

@import './components/Button/Button.scss';
@import './components/Header/Header.scss';
@import './containers/Home/Home.scss';
@import './components/Training/Training.scss';
@import './components/Post/Post.scss';
@import './components/posts/AllPosts/Posts.scss';
@import './components/posts/userPost/Userpost.scss';
@import './components/EditPost/EditPost.scss';
@import './components/Footer/Footer.scss';

@import './containers/Register/Register.scss';
@import './containers/Login/Login.scss';
@import './containers/Obediencia_basica/ObedienciaBasica.scss';
@import './containers/Buenos_modales/BuenosModales.scss';
@import './containers/Ejercicios/Ejercicios.scss';
@import './containers/Perro_nuevo/PerroNuevo.scss';
@import './containers/Common/CommonWall.scss';

@import './containers/Admin/AdminProfile/Admin.scss';
@import './containers/Admin/AllUsers/AllUsers.scss';
@import './containers/Profile/Profile.scss';
@import './containers/Profile/UpdateUser.scss';
@import './containers/Contact/Contact.scss';





.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
